<mat-card class="col-6">
    <span class="component-header">Вільний час для запису на прийом</span> 
    <div class="table">
        <div class="tr">
            <div class="th date">Час запису</div>
            <div class="th buttons"></div>
        </div>
        <div *ngFor="let visit of visits">
            <div class="tr">
                <div class="td">
                  <p class="title">
                    <span [textContent]="visit.time"></span>
                    <span></span>
                  </p>
                </div>
                <div class="td">
                    <button mat-raised-button color=primary>Записатись на прийом</button>
                </div>
              </div>
        </div>
    </div>
</mat-card>
