@import '../../../../styles//module';

.table {
    margin-top: 0.69rem;
    display: table;
    .tr {
        display: table-row;
        .th {
            border-bottom: 0.07rem solid $black;
            display: table-cell;
        }
        .td {

            &.date {
                width: 33%;
            }

            &.time {
                width: 34%;
            }

            &.buttons {
                width: 33%;
                text-align: right;
            }

            vertical-align: top;
            padding: 0.69rem 0;
            display: table-cell;
            border-bottom: 0.07rem solid $black;
        }
    }
}