@import '../../../../styles/module';

.td {
    display: table-cell;
    vertical-align: top;
    padding: $component_padding 0;
    border-bottom: 0.07rem solid $black;


    &.name {
        width: 50%;
    }

    &.phone {
        width: 35%;
    }

    &.button-link {
        text-align: right;
    
        button {
            margin-right: 0;
        }
    }

    .img {
        margin-right: $container_margin;
        width: 4rem;
        height: 4rem;
        text-align: center;
    
        img {
            max-width: 100%;
            height: 100%;
        }
    }

    .hospital-name {
        font-size: $medium;
        font-weight: 500;
        color: $black;
    }

    .hospital-address {
        font-size: $medium;
        font-weight: 500;
        color: $black;
    }
}
