@import '../../../../styles/module';

.hospital-card {
    margin-top: $container_margin;

    .hospital-block {
        .img {
            margin-right: $container_margin;
            width: 4rem;
            height: 4rem;
            text-align: center;
        
            img {
                max-width: 100%;
                height: 100%;
            }
        }

        .hospital-name {
            font-size: $medium;
            font-weight: 500;
            color: $black;
        }

        .hospital-address {
            font-size: $medium;
            font-weight: 500;
            color: $black;
        }
    }
}


.table {
    display: table;

    .table-row {
        display: table-row;

        .table-header {
            display: table-cell;
            font-size: $medium;
            font-weight: 500;
            color: $black;
        }

        .table-cell {
            padding: $container_padding 0;
            vertical-align: top;
            border-top: $border;
            display: table-cell;
        }
    }
}

button {
    margin-right: 0;
}

.button-link {
    text-align: right;
}