@import '../../../../styles/module';

* {
    margin: 0;
    padding: 0;
}

.td {
    border-bottom: 0.07rem solid $black;
    display: table-cell;
    vertical-align: top;
    padding: 0.69rem 0;
    
    &.name {
        width: 20%;
    }

    &.email {
        width: 0%;
    }

    &.phone {
        width: 30%;
    }

    &.buttons {
        text-align: right;
    
        button {
            margin-right: 0;
        }
    }
}

.title {
    font-size: $medium;
    font-family: Spectral;
}