<div class="col-4 reg-container">
    <mat-card>
        <div class="component-header">
            <span>Реєстрація</span>
        </div>
        <div>
            <form [formGroup]="regForm">
                <mat-form-field appearance="outline">
                    <mat-error *ngIf="regForm.get('first_name').hasError('required')">Це поле є обов'язковим</mat-error>
                    <input matInput placeholder="Ім'я" formControlName="first_name" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-error *ngIf="regForm.get('last_name').hasError('required')">Це поле є обов'язковим</mat-error>
                    <input matInput placeholder="Прізвище" formControlName="last_name" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-error *ngIf="regForm.get('username').hasError('required')">Це поле є обов'язковим</mat-error>
                    <input matInput placeholder="Ім'я користувача" formControlName="username" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-error *ngIf="regForm.get('password').hasError('minlength') ">Пароль має містити мінімум 8
                        символів</mat-error>
                    <input matInput placeholder="Пароль" formControlName="password" type="password" minlength="8"
                        required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-error *ngIf="regForm.get('email').hasError('required')">Електронна адреса має містити знак "@"
                    </mat-error>
                    <input matInput placeholder="Електронна адреса" formControlName="email" required>
                </mat-form-field>
                <div class="d-flex justify-content-around">
                    <div class="radio-block">
                        <mat-radio-group class="d-flex flex-column" formControlName="gender" required>
                            <mat-radio-button [value]="gender[0]">Чоловіча</mat-radio-button>
                            <mat-radio-button [value]="gender[1]">Жіноча</mat-radio-button>
                            <mat-error *ngIf="regForm.get('gender').hasError('required')">Це поле є обов'язковим</mat-error>
                        </mat-radio-group>
                    </div>
                    <mat-radio-group class="d-flex flex-column" formControlName="role">
                        <mat-radio-button [value]="gender[0]">Пацієнт</mat-radio-button>
                        <mat-radio-button [value]="gender[1]">Лікар</mat-radio-button>
                        <mat-error *ngIf="regForm.get('role').hasError('required')">Це поле є обов'язковим</mat-error>
                    </mat-radio-group>
                </div>
                <div>
                    <div class="hospital-list" *ngIf="hospitals$ | async as hospitals">
                        <mat-form-field appearance="outline">
                            <mat-label>Обрати лікарню</mat-label>
                            <mat-select formControlName="hospital">
                                <mat-option *ngFor="let hospital of hospitals" [textContent]="hospital.name"
                                    [value]="hospital.pk"></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field appearance="outline">
                    
                    <input matInput  [matDatepicker]="picker" placeholder="Дата народження" formControlName="birthday" 
                    (dateChange)="getUTCTime(regForm, 'birthday', $event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-error *ngIf="regForm.get('city').hasError('required')">Це поле є обов'язковим</mat-error>
                    <input matInput placeholder="Місто" formControlName="city" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-error *ngIf="regForm.get('street').hasError('required')">Це поле є обов'язковим</mat-error>
                    <input matInput placeholder="Вулиця" formControlName="street" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-error *ngIf="regForm.get('zip_code').hasError('required')">Це поле є обов'язковим</mat-error>
                    <input matInput placeholder="Поштовий індекс" formControlName="zip_code" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-error *ngIf="regForm.get('phone_number').hasError('required')">Це поле є обов'язковим</mat-error>    
                    <input matInput placeholder="Номер" formControlName="phone_number" required>
                </mat-form-field>
                <div class="buttons d-flex justify-content-end">
                    <div class="log-button">
                        <a mat-raised-button [routerLink]="['/auth/login']">Вже зареєстровані?</a>
                    </div>
                    <button mat-raised-button color="primary" (click)="registerUser()">Зареєструватися</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>