<div class="col-4 reg-container">
    <mat-card>
        <div class="component-header">
            <span>Реєстрація</span>
        </div>
        <div>
            <form [formGroup]="regForm">
                <mat-form-field>
                    <mat-error *ngIf="regForm.get('first_name').hasError('required')">Це поле є обов'язковим</mat-error>
                    <input matInput placeholder="Ім'я" formControlName="first_name" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-error *ngIf="regForm.get('last_name').hasError('required')">Це поле є обов'язковим</mat-error>
                    <input matInput placeholder="Прізвище" formControlName="last_name" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-error *ngIf="regForm.get('username').hasError('required')">Це поле є обов'язковим</mat-error>
                    <input matInput placeholder="Ім'я користувача" formControlName="username" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-error *ngIf="regForm.get('password').hasError('minlength') ">Пароль має містити мінімум 8 симовлів</mat-error>
                    <input matInput placeholder="Пароль" formControlName="password" type="password" minlength="8" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-error *ngIf="regForm.get('email').hasError('required')">Електронна адреса має містити знак "@"</mat-error>
                    <input matInput placeholder="Електронна адреса" formControlName="email" required>
                </mat-form-field>
                <div class="d-flex justify-content-around">
                        <div class="radio-block">
                            <mat-radio-group class="d-flex flex-column" formControlName="gender" required>
                                <mat-radio-button value="1">Жіноча</mat-radio-button>
                                <mat-radio-button value="2">Чоловіча</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <mat-radio-group class="d-flex flex-column" formControlName="role">
                            <mat-radio-button value="1">Пацієнт</mat-radio-button>
                            <mat-radio-button value="2">Лікар</mat-radio-button>
                        </mat-radio-group>
                </div>
                <div>
                    <div class="hospital-list" *ngIf="hospitals$ | async as hospitals">
                        <mat-form-field>
                            <mat-label>Оберіть лікарню</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let hospital of hospitals" [textContent]="hospital?.name"
                                    [value]="hospital?.pk"></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="buttons d-flex justify-content-end">
                    <button mat-raised-button color="primary" (click)="registerUser()">Зареєструватися</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>